.App {
  text-align: center;
}

.thumbnail {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: aquamarine;
}

.thumbnailwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
